<% let j = 1; for(var post of posts){ %> 
    <div id = "post-<%= post.id %>" class="post">
        <header class="post-header"> 
            <div class="post-head">
                <div class = "post-pic">
                    <img src="<%= post.user.avatar %>" alt="" srcset="">
                </div>           
                <div>
                    <% if(post.user){%><div class="user-name"><%=post.user.name %></div>
                        <small class="date-time"><%= post.createdAt.toDateString() %>
                            <span class="count-post"><%= j %></span>
                             <!-- // there is deletion option -->
                             <span class="likes"><a class="like-btn" href="like/toggle?id=<%=post.id%>&type=Post">Like</a> <%= post.likes.length%></span>
                            <% if(locals.user && locals.user.id==post.user.id){%>

                                <span class="delete-post"><a class="delete-post-button" href="/post/destroy/<%= post.id %>">X
                                </a></span> 
                            <%}%></small><%}%>
    
                </div>
            </div>
            
            
        </header>
        <div class = "post-main">
            <div class="post-content"><%=post.content%></div>
            <div class = "comments">
                <!-- for loop to show all the comments -->
                <% if(post.comment){for(var comment of post.comment){ %>
                    <div id = "comment-<%= comment.id %>">
                        <div>
                            <div class="comment-content"><%= comment.content %></div>
                            <small class="commentor-name"><%= comment.user.name %>
                                <span class="likes"><a class="like-btn" href="like/toggle?id=<%=comment.id%>&type=Comment">Like</a> <%= comment.likes.length%></span>
                                <% if(locals.user  && (locals.user.id==comment.user.id || locals.user.id==post.user.id)){%>
                                
                                
                                <span class = "delete-post">
                                    <a  href="/destroy/<%= comment.id %>">X</a>
                                </span> 
                            <%}%></small>
                        </div>
        
                        
                    </div>
                <%}} %>
            </div>
            <% if(locals.user){%><form action="/comment-create" method="post" class = "comment-form">
                <input type="text" name="content" placeholder="comment" required> 
                <input type="hidden" name="post" value="<%= post._id %>">
                <button type="submit">comment</button></form>
            <%}%>
        </div>
    </div>
    <% j++ } %>