<link rel="stylesheet" href="<%= assetPath('styles/home-style.css')%>">

<main>
    <section id = "feed-posts">
        <%if(locals.user){%>
            <form id = "new-post-form" action="/post/create-post" method="post">
                <textarea placeholder = "type here" required name = "content" cols="30" rows = "3"></textarea>
                <div>
                    <div class="option">
                        <input type="file" name="avatar" placeholder="not"/>

                    </div>
                    <button type="submit">Post</button>
                </div>
              </form>
        <% } %>
        <div id="posts">
            <%- include('partials/_post') %>
        </div>
    </section>
    <!-- this section for the freincds -->
    <% if(locals.user){ let idArr = [user.id];  %>
        <section id = feed-friends>
            <% if(user.friends.length>0){%>
                <h2>Friends</h2>
                <%for(let u of user.friends){%> 
                    <p>
                        <% if(u.from.id!=user.id){%>
                            <% idArr.push(u.from.id) %>
                            <a href="/profile/<%=u.from.id%>"> <%= u.from.name %></a> 
                        <%}else{%>
                            <% idArr.push(u.to.id) %>
                            <a href="/profile/<%=u.to.id%>"> <%= u.to.name %></a>
                        <%}%>
                        <a href = "/friend-request/delete-friend/<%= u.id %>" class="btn">remove</a>
                    </p>
                <%}%>
            <%}%>
            <% if(user.request.length ){ let run_once = true;%>
                <%for(let u of user.request){ if(u.from.id==user.id){%> 
                    <% if(run_once){ run_once = false;%>
                        <h2>Requests</h2>
                    <%}%>
                    <p>
                        <% idArr.push(u.to.id) %>
                        <a href="/profile/<%=u.to.id%>"> <%= u.to.name %></a> 
                        <a href="/friend-request/delete/<%= u.id %>" class="btn">unrequest</a>
                    </p>
                <%}} run_once = true;%>
                
                <%for(let u of user.request){ if(u.to.id==user.id){%> 
                    <% if(run_once){ run_once = false;%>
                        <h2>waiting to be friend</h2>
                    <%}%>
                    <p>
                        <% idArr.push(u.from.id) %>
                        <a href="/profile/<%=u.from.id%>"> <%= u.from.name %></a> 
                        <a href="/friend-request/confirm/<%= u.id %>" class="btn">confirm</a>
                    </p>
                <%}}%>
            <%}%>
            <h2>you may know</h2>

            <%for(let u of users){ if(idArr.indexOf(u.id)==-1){%> 

                <p>
                    <a href="/profile/<%=u.id%>"> <%= u.name %></a>
                    <a href="/friend-request/send/<%= u.id%>" class = 'btn'>sendRequest</a>
                </p>
                <% }} %>
        </section>
    <% }%>
</main>
<script src="<%= assetPath('scripts/home_post.js')%>"></script>
<script src="<%= assetPath('scripts/home_comment.js')%>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
<script src="<%= assetPath('scripts/chat_engine.js')%>"></script>



<% if(locals.user){%> 
    <script>
        new ChatEngine("chat-box","<%=locals.user.email%>")
    </script>
<%-include('partials/_chatbox') %>

<%}%>
