<!-- this is layout for this website so repeating things can be removed -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- setting noty notifiacation slides -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    
    <!-- jquery ajax  -->
    <script src="<%= assetPath('scripts/jquery-3.6.0.js')%>"></script>

    
    <link rel="stylesheet" href="<%= assetPath('styles/layout.css')%>">
    <script src="<%= assetPath('scripts/layout.js')%>"></script>
    <%- style %>
</head>
<body>
   <%- include('./partials/_header'); %>    
    <%- body %>
    <%- include('./partials/_footer'); %>
    <%- script %>

    <script>
        <% if(flash.success && flash.success.length>0){%>
            new Noty({
                theme:'relax',
                text:"<%=flash.success %>",
                type:'success',
                layout:'topRight',
                timeout:1500
            }).show();
        <%}%>
        <% if(flash.error && flash.error.length>0){%>
            new Noty({
                theme:'relax',
                text:"<%=flash.error %>",
                type:'error',
                layout:'topRight',
                timeout:1500
            }).show();
        <%}%>
    </script>
</body>
</html>